.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.tv {
  position: fixed;
  width: 500px;
  z-index: 3;
}

.detail-container {
  position: relative;
  top: -34px;
  right: 1px;
  z-index: 4;
}

.backdrop {
  width: 339px;
  height: 144px;
}

/* 
.details {
  height: 100%;
  width: 100%;
  background-color: black;
} */

.details-box {
  box-sizing: border-box;
  overflow: auto;
  width: 339px;
  height: 100px;
}

.title-font {
  background-color: black;
  color: chartreuse;
  width: 339px;
  font-size: 16px;
  /* height: 73px; */
}

.details-font {
  color: chartreuse;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .tv {
    width: 700px;
  }

  .detail-container {
    top: -68px;
    right: 4px;
  }

  .backdrop {
    width: 474px;
    height: 233px;
  }

  /* .details {
    height: 100%;
    width: 100%;
    background-color: black;
  } */

  .details-box {
    width: 474px;
    height: 71px;
    padding: 3px;
  }
  .title-font {
    width: 474px;
    font-size: 24px;
    /* height: 73px; */
  }
}
